{% extends 'admin/base.html' %}
{% load static %}

{% block branding %}
<h1 id="site-name">
    <a href="{% url 'admin:index' %}">
        <img src="{% static 'rentease/img/brand/logo-rentease-white.svg' %}" alt="RentEase Admin" style="height: 36px; width: auto; vertical-align: middle;">
    </a>
</h1>
{% endblock %}

{% block extrastyle %}
{{ block.super }}
<link rel="icon" href="{% static 'rentease/img/brand/favicon.ico' %}" sizes="any">
<link rel="icon" href="{% static 'rentease/img/brand/favicon-32.png' %}" type="image/png">
{% endblock %}
